@font-face {
    font-family: lato semibold;
    src: url('fnt/lato-semibold.woff') format('woff');
}

@font-face {
    font-family: lato bold;
    src: url('fnt/lato-bold.woff') format('woff');
}

@font-face {
    font-family: lato black;
    src: url('fnt/lato-black.woff') format('woff');
}

@font-face {
    font-family: lato light;
    src: url('fnt/lato-light.woff') format('woff');
}

@font-face {
    font-family: ptsans regular;
    src: url('fnt/ptsans-regular.woff') format('woff');
}

@font-face {
    font-family: ptsans bold;
    src: url('fnt/ptsans-bold.woff') format('woff');
}

@font-face {
    font-family: myriadpro regular;
    src: url('fnt/myriadpro-regular.woff') format('woff');
}

@font-face {
    font-family: lato regular;
    src: url('fnt/lato-regular.woff') format('woff');
}

@font-face {
    font-family: rubl;
    src: url('fnt/rubl.woff') format('woff');
}

* {
	box-sizing: border-box;
}

body {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

body.menu,
body.modal {
	overflow-y: hidden;
}

.wrapper {
	display: block;
	width: 87.5vw;
	margin-right: auto;
	margin-left: auto;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

header {
	height: 38.125vw;
	padding-top: 6.25vw;
	background-color: rgb(0, 172, 193);
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	background-position: 50% 4.6875vw;
	background-size: 48.875vw;
}

button.menu {
	width: 12.5vw;
	height: 12.5vw;
	padding-top: 4.0625vw;
	padding-right: 3.75vw;
	padding-bottom: 4.0625vw;
	padding-left: 3.75vw;
	background-color: rgb(238, 238, 238);
	border: none;
}

button.menu span,
button.menu span::before,
button.menu span::after {
    display: block;
    width: 100%;
    height: .625vw;
    background-color: rgb(0, 0, 0);
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

button.menu span::before {
	content: '';
	transform: translateY(-1.325vw);
}

button.menu span::after {
	content: '';
	transform: translateY(.7vw);
}

button.close {
	padding-right: 0;
	padding-left: 0;
	border: 0;
	background-color: transparent;
	position: absolute;
	top: 5vw;
	right: 5vw;
}

button.close::after {
	content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 610.79" fill="#e6e6e6"><polygon points="612 35.4 576.52 0 306 270 35.48 0 0 35.4 270.52 305.41 0 575.39 35.48 610.79 306 340.81 576.52 610.79 612 575.39 341.46 305.41 612 35.4"/></svg>');
	display: block;
	width: 5vw;
    height: 5vw;
}

div.dark {
	width: 100vw;
	height: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0);
	transition-duration: .4s, 0s;
	transition-property: background-color, height;
	transition-delay: 0s, .4s;
	transition-timing-function: ease-in-out, ease;
}

.menu .dark,
.modal .dark {
	height: 100vh;
	background-color: rgba(0, 0, 0, .6);
	transition-delay: 0s;
}

div.menu {
	width: 90vw;
	height: 100vh;
	padding-top: 5vw;
	padding-right: 9.375vw;
	padding-bottom: 5vw;
	padding-left: 9.375vw;
	background-color: rgb(0, 145, 162);
	position: fixed;
	top: 0;
    left: 0;
    z-index: 3;
    overflow-y: auto;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
	transform: translateX(-100%);
}

.menu .menu {
	transform: translateX(0%);
}

header .menu ul {
	margin-top: 10vw;
	margin-bottom: 7vw;
}

header .menu ul:first-of-type li {
	border-top: .5vw solid rgb(50, 160, 173);
}

header .menu ul:first-of-type li:last-child {
	border-bottom: .5vw solid rgb(50, 160, 173);
}

.menu li a,
.menu li button {
	font-size: 3.75vw;
	line-height: 16.5vw;
	font-family: lato regular;
	text-transform: uppercase;
	color: rgb(230, 230, 230);
}

.menu li a {
	text-decoration: none;
}

.menu li button {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
	text-align: left;
	background-color: transparent;
	border: none;
	position: relative;
}

.menu li button::after {
	content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 64.57" fill="#d4dfe1"><path d="M4,36.28H66.34L44.89,57.74a4,4,0,1,0,5.66,5.66L78.83,35.11h0a4,4,0,0,0,.5-.61c.07-.1.11-.21.17-.31a4,4,0,0,0,.19-.37,3.56,3.56,0,0,0,.13-.42c0-.11.08-.22.1-.33a4,4,0,0,0,.08-.78h0a4,4,0,0,0-.08-.77c0-.12-.07-.23-.1-.35a3.71,3.71,0,0,0-.12-.4,4.14,4.14,0,0,0-.21-.4c-.05-.1-.1-.2-.16-.29a3.94,3.94,0,0,0-.5-.61L50.54,1.17a4,4,0,1,0-5.66,5.66L66.34,28.28H4a4,4,0,0,0,0,8Z"/></svg>');
	display: block;
	width: 6vw;
	height: 14vw;
	position: absolute;
	top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.menu ul ul li button::after {
	transform: translateY(-50%) rotate(180deg);
}

.menu ul ul {
	width: 71.55vw;
	height: 118.359vw;
	background-color: rgb(0, 145, 162);
	position: absolute;
	top: 11.2vw;
	left: 9.35vw;
	overflow-y: auto;
	transform: translateX(-114%);
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
}

.menu ul ul.open {
	transform: translateX(0);
}

.menu > a:last-of-type {
	display: block;
	text-align: center;
	font-size: 3.75vw;
	line-height: 12.5vw;
	font-family: lato regular;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(246, 234, 153);
	border: 0.5vw solid rgb(246, 234, 153);
}

.menu hr {
    background-color: rgb(50, 160, 173);
    border: none;
    width: 14vw;
    height: .5vw;
    margin-right: auto;
    margin-bottom: 7vw;
    margin-left: auto;
}

header hr {
	height: .3125vw;
	margin-top: 5.9375vw;
	margin-bottom: 4.0625vw;
	background-color: rgb(14, 151, 168);
	border-top: none;
	border-bottom: .3125vw solid rgb(49, 190, 199);
}

a[href^=tel] {
	text-decoration: none;
}

header a[href^=tel] {
	color: rgb(238, 238, 238);
	font-size: 5vw;
	font-family: lato semibold;
	display: block;
}

header .wrapper > a[href^=tel] {
	text-align: center;
}

.menu a[href^=tel] {
	text-align: left;
}

.consultation span::before,
a[href^=tel]::before {
	display: inline-block;
	width: 4.6875vw;
	height: 4.6875vw;
	margin-right: 6.5625vw;
	transform: translateY(.5vw);
}

a[href^=tel]::before {
	content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="rgb(255, 255, 255)" viewBox="0 0 36 36"><path d="M34,25a22.81,22.81,0,0,1-7.14-1.14,2,2,0,0,0-2,.49l-4.4,4.41A30.17,30.17,0,0,1,7.25,15.59l4.4-4.41a2,2,0,0,0,.49-2A22.88,22.88,0,0,1,11,2,2,2,0,0,0,9,0H2A2,2,0,0,0,0,2,34,34,0,0,0,34,36a2,2,0,0,0,2-2V27A2,2,0,0,0,34,25Z"/></svg>');
}

.consultation span::before {
	content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88 88" fill="#fff"><path d="M44,0A44,44,0,1,0,88,44,44,44,0,0,0,44,0Zm0,80A36,36,0,1,1,80,44,36,36,0,0,1,44,80Z"/><path d="M48,42.34V20a4,4,0,0,0-8,0V44a3.91,3.91,0,0,0,.08.76c0,.12.07.23.1.35a4,4,0,0,0,.12.4,4.11,4.11,0,0,0,.21.39c.05.1.1.2.16.29a3.9,3.9,0,0,0,.5.61L52.49,58.15a4,4,0,0,0,5.66-5.66Z"/></svg>');
}

img {
	float: left;
}

main > img {
	width: 100%;
	margin-bottom: 2vw;
}

main.main h1 {
	font-size: 5vw;
	line-height: 5vw;
	font-family: lato bold;
	color: rgb(0, 145, 162);
	margin-top: 0;
	margin-bottom: 4vw;
	text-align: center;
}

h1 span {
	display: block;
	font-size: 3.75vw;
	line-height: 9.375vw;
	font-family: myriadpro regular;
	color: rgba(0, 0, 0, .5);
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

main > p {
	font-size: 4.375vw;
	line-height: 6.25vw;
	font-family: ptsans regular;
	color: rgba(0, 0, 0, .6);
}

ul {
	padding-left: 0;
	list-style: none;
}

ul.tabs {
	margin-bottom: 0;
}

main.main ul.tabs {
	margin-top: 6.25vw;
}

.salon.tabs {
	position: sticky;
    top: -.3125vw;
   	z-index: 2;
}

.description.tabs {
	background-color: rgb(0, 145, 162);
}

.tabs li {
	float: left;
	text-align: center;
	font-family: lato regular;
}

main.main .tabs li {
	font-size: 3.4375vw;
	line-height: 3.75vw;
}

.description li {
	width: 25%;
	color: rgb(238, 238, 238);
}

.description li label::before {
	content: '';
	display: block;
	width: 8.4375vw;
	height: 8.4375vw;
	margin-right: auto;
	margin-bottom: 2.5vw;
	margin-left: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.description li:first-child label::before {
	background-image: url(img/place.png);
}

.description li:nth-child(2) label::before {
	background-image: url(img/staff.png);
}

.description li:nth-child(3) label::before {
	background-image: url(img/atmosphere.png);
}

.description li:last-child label::before {
	background-image: url(img/family.png);
}

.tabs label {
	display: block;
}

.description label {
	padding-top: 5vw;
	padding-bottom: 6.25vw;
	opacity: .8;
}

div.description {
	padding-top: 7.1875vw;
	padding-right: 9.375vw;
	padding-bottom: 7.1875vw;
	padding-left: 9.375vw;
	outline: 0.125vw dashed rgb(199, 199, 199);
	outline-offset: -1.875vw;
	display: none;
}

#place:checked ~ .place,
#staff:checked ~ .staff,
#atmosphere:checked ~ .atmosphere,
#family:checked ~ .family {
	display: block;
}

#place:checked ~ ul label[for=place],
#staff:checked ~ ul label[for=staff],
#atmosphere:checked ~ ul label[for=atmosphere],
#family:checked ~ ul label[for=family] {
	opacity: 1;
}

.description .count {
	float: left;
	width: 9.375vw;
	background-color: rgb(86, 86, 86);
	position: relative;
	font-size: 3.75vw;
	line-height: 9.375vw;
	font-family: lato light;
	color: rgb(254, 254, 254);
	text-align: center;
}

.description .count::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 2.8vw 2.8vw;
	border-color: transparent transparent rgb(0, 172, 193) transparent;
	position: absolute;
	right: 0;
	bottom: 0;
}

.description p {
	margin-left: 15.625vw;
	font-size: 3.75vw;
	line-height: 5.625vw;
	font-family: lato regular;
}

main.main .service {
	display: block;
	height: 56.25vw;
	text-decoration: none;
	position: relative;
	overflow: hidden;
}

main.main .service img {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

main.main .service::after {
	content: '';
	display: block;
	width: 100%;
	height: 28.125vw;
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

main.main .service p {
	font-size: 4.375vw;
	line-height: 9.375vw;
	font-family: lato black;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	position: absolute;
	bottom: 1vw;
	left: 6.25vw;
	z-index: 1;
}

main.main h2 {
	font-size: 5vw;
	line-height: 6.25vw;
	font-family: ptsans bold;
	margin-top: 6.25vw;
	margin-bottom: 6.25vw;
}

.salons span {
	font-size: 5vw;
	line-height: 6.25vw;
	font-family: lato regular;
}

.salon li {
	width: 33.33%;
}

.salon label {
	font-size: 4.375vw;
	line-height: 13.44vw;
	font-family: ptsans regular;
	color: rgb(118, 118, 118);
	background-color: rgb(247, 247, 247);
	border-bottom: .3125vw solid rgb(175, 175, 175);
}

#par:checked ~ ul label[for=par],
#isspa:checked ~ ul label[for=isspa],
#luxury:checked ~ ul label[for=luxury] {
	line-height: 12.815vw;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 145, 162);
	border-top: .3125vw solid rgb(175, 175, 175);
	border-bottom: .3125vw solid rgb(255, 255, 255);
}

#par:checked ~ ul label[for=par] {
	border-right: .3125vw solid rgb(175, 175, 175);
}

#isspa:checked ~ ul label[for=isspa] {
	border-right: .3125vw solid rgb(175, 175, 175);
	border-left: .3125vw solid rgb(175, 175, 175);
}

#luxury:checked ~ ul label[for=luxury] {
	border-left: .3125vw solid rgb(175, 175, 175);
}

div.salon {
	display: none;
}

#par:checked ~ .par,
#isspa:checked ~ .isspa,
#luxury:checked ~ .luxury {
	display: block;
}

.salon p {
	font-size: 4.375vw;
	line-height: 6.25vw;
	font-family: ptsans regular;
	margin-top: 6.25vw;
	margin-bottom: 6.25vw;
}

.consultation {
	padding-top: 6.5vw;
	padding-bottom: 6.5vw;
	background-color: rgb(0, 162, 72);
	position: relative;
}

.consultation * {
	color: rgb(255, 255, 255);
}

.consultation::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border-style: solid;
	border-width: 3vw 3vw 0 3vw;
	border-color: rgb(255, 255, 255) transparent transparent transparent;
}

div.consultation h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 4.375vw;
	line-height: 9.375vw;
	color: rgb(255, 255, 255);
	font-family: lato black;
	text-transform: uppercase;
}

.consultation a {
	font-size: 4.375vw;
	line-height: 9.375vw;
	font-family: lato black;
}

.consultation span {
	font-size: 4.375vw;
	line-height: 9.375vw;
	font-family: lato regular;
}

.consultation button {
	font-size: 3.75vw;
	line-height: 16.25vw;
	font-family: lato regular;
	text-transform: uppercase;
	color: rgb(0, 162, 72);
 	background-color: rgb(255, 255, 255);
 	display: block;
    width: 63.75vw;
    border: 0;
 	margin-top: 6.25vw;
 	margin-right: auto;
 	margin-bottom: 6.25vw;
 	margin-left: auto;
 }

ul.social {
 	width: 46.875vw;
 	margin-top: 0;
 	margin-right: auto;
 	margin-bottom: 0;
 	margin-left: auto;
 }


ul.social li {
  	float: left;
  	width: 33.33%;
  }

ul.social a {
	display: block;
	width: 12.5vw;
	height: 12.5vw;
	background-size: contain;
}

a.fb {
	background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 217.83 217.83" fill="#fff"><path d="M108.92.5A108.42,108.42,0,1,0,217.34,108.92,108.42,108.42,0,0,0,108.92.5Zm26,78.73a2,2,0,0,1-2,2h-8.39c-5.79,0-6.85,2.26-6.85,6.7v9.2h14.66a2,2,0,0,1,2,2V114.9a2,2,0,0,1-2,2H117.72v39.87a2,2,0,0,1-2,2H99.41a2,2,0,0,1-2-2V117H84.92a2,2,0,0,1-2-2V99.17a2,2,0,0,1,2-2h12.5V86.27c0-14.38,9-23.66,23-23.66h12.45a2,2,0,0,1,2,2Z"/></svg>');
}

a.in {
	background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 217.83 217.83"><path fill="#fff" d="M89.23,109.53c0-10.51,8.76-19,19.56-19s19.56,8.49,19.56,19-8.76,19-19.56,19S89.23,120,89.23,109.53Z"/><path fill="#fff" d="M146.39,76.21V86.7A4.38,4.38,0,0,1,142,91.09h-11a4.4,4.4,0,0,1-4.38-4.39V76.21a4.4,4.4,0,0,1,4.38-4.39h11A4.4,4.4,0,0,1,146.39,76.21Z"/><path fill="#fff" d="M137.82,102.19h8.57v41.14a3.87,3.87,0,0,1-3.87,3.87H74.7a3.88,3.88,0,0,1-3.88-3.87V102.19h9a28.49,28.49,0,0,0-1.25,8.35c0,16.2,13.55,29.33,30.27,29.33s30.28-13.13,30.28-29.33A28.49,28.49,0,0,0,137.82,102.19Z"/><path fill="#fff" d="M108.92.5A108.42,108.42,0,1,0,217.34,108.92,108.42,108.42,0,0,0,108.92.5Zm48.47,73v72.39a12.19,12.19,0,0,1-11.89,12.5c-.2,0-.4,0-.61,0H72.5A12.2,12.2,0,0,1,60,146.5v-73A12.21,12.21,0,0,1,71.9,61h73a12.2,12.2,0,0,1,12.5,11.9A6,6,0,0,1,157.39,73.5Z"/></svg>');
}

a.vk {
	background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 217.83 217.83" fill="#fff"><path d="M108.92.5A108.42,108.42,0,1,0,217.34,108.92,108.42,108.42,0,0,0,108.92.5Zm43.87,118.31,0,0c4.29,4.19,8.81,8.12,12.65,12.74a36.66,36.66,0,0,1,4.54,6.53c1.74,3.4.16,7.1-2.87,7.3H148.32c-4.86.4-8.73-1.55-12-4.87-2.61-2.66-5-5.48-7.53-8.23a18.06,18.06,0,0,0-3.4-3c-2.56-1.66-4.8-1.16-6.27,1.53a20.15,20.15,0,0,0-2,8.78c-.2,4.43-1.54,5.6-6,5.8-9.51.45-18.55-1-26.94-5.79-7.39-4.25-13.13-10.19-18.12-17C56.41,109.46,49,95,42.28,80.12c-1.51-3.35-.41-5.15,3.29-5.22q9.21-.18,18.43,0c2.49,0,4.15,1.47,5.09,3.82A114.16,114.16,0,0,0,81.6,101.86,20.09,20.09,0,0,0,86.31,107c2.19,1.5,3.85,1,4.88-1.43a16.17,16.17,0,0,0,1.08-4.85,72.33,72.33,0,0,0-.3-17c-.52-3.53-2.51-5.82-6-6.49-1.8-.34-1.54-1-.66-2,1.51-1.77,2.93-2.88,5.77-2.88h21.27c3.35.66,4.09,2.17,4.55,5.52V101.5c0,1.3.65,5.17,3,6,1.88.62,3.12-.89,4.25-2.08,5.09-5.4,8.72-11.79,12-18.41,1.45-2.91,2.68-5.94,3.88-9a4.55,4.55,0,0,1,4.81-3.29h20.48a9.84,9.84,0,0,1,1.8.11c3.46.59,4.4,2.07,3.33,5.44-1.7,5.28-4.94,9.69-8.14,14.11-3.39,4.73-7.06,9.29-10.45,14C148.68,112.85,148.93,115,152.79,118.81Z"/></svg>');
}

#map {
	width: 100%;
	height: 67.1875vw;
}

div.modal {
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	overflow-y: auto;
	background-color: rgb(255, 255, 255);
	padding-top: 20vw;
	padding-bottom: 10vw;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
	transform: translateY(-100%);
}

.modal div.modal {
	transform: translateY(0);
}

div.modal input[type=text],
div.modal input[type=tel] {
	-webkit-appearance: none;
	width: 100%;
    margin-top: 2vw;
    margin-bottom: 3vw;
    padding-right: 4vw;
    padding-left: 4vw;
    border: .3vw solid rgb(207, 207, 207);
    font-size: 4.37vw;
    line-height: 10vw;
    font-family: lato regular;
    background-color: rgb(246, 246, 246);
}

div.modal p {
	font-size: 3.75vw;
	line-height: 6.25vw;
	font-family: lato regular;
	color: rgb(86, 86, 86);
    text-align: center;
}

div.modal input[type=submit] {
	-webkit-appearance: none;
	display: block;
	width: 60vw;
	margin-top: 7vw;
	margin-right: auto;
	margin-bottom: 2vw;
	margin-left: auto;
	background-color: rgb(71, 162, 50);
	border: 0.3vw solid rgb(207, 207, 207);
	font-size: 4.37vw;
	line-height: 10vw;
    color: rgb(255, 255, 255);
    border: none;
}

div.modal a {
	display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: rgb(174, 174, 174);
    font-size: 3.75vw;
    line-height: 6.25vw;
    font-family: lato regular;
}

footer {
	background-color: rgb(0, 145, 162);
	padding-top: 4vw;
	padding-bottom: 4vw;
}

footer a {
	font-size: 4.375vw;
	font-family: lato regular;
	color: rgb(255, 255, 255);
}

.head {
	width: 100%;
	height: 56.25vw;
	overflow: hidden;
	position: relative;
}

.head * {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.head h1 {
	font-size: 3.75vw;
	line-height: 5.5vw;
	font-family: lato black;
	text-transform: uppercase;
	color: rgb(246, 246, 246);
	text-align: center;
	text-shadow: 0 0 2vw rgb(0, 0, 0);
}

.breadcrumbs {
    background-color: rgb(246, 246, 246);
    font-size: 3.75vw;
    line-height: 12.5vw;
    font-family: lato regular;
}

.breadcrumbs .wrapper * {
	color: rgb(86, 86, 86);
}

.effect {
	display: none;
	margin-top: 9.38;
	margin-bottom: 13.57vw;
}

.positive-negative .tabs > li {
	width: 50%;
}

.positive-negative label {
	font-size: 3.75vw;
	line-height: 14vw;
	font-family: lato black;
	color: rgb(174, 174, 174);
}

#positive:checked ~ ul label[for=positive] {
	color: rgb(70, 160, 49);
	border-bottom: 1.25vw solid rgb(70, 160, 49);
}

#negative:checked ~ ul label[for=negative] {
	color: rgb(193, 45, 0);
	border-bottom: 1.25vw solid rgb(193, 45, 0);
}

#positive:checked ~ .positive,
#negative:checked ~ .negative {
	display: block;
}

.effect li {
	width: 33.33%;
	float: left;
	text-align: center;
}

.effect div {
	width: 13.75vw;
    height: 13.75vw;
    margin-right: auto;
    margin-bottom: 2vw;
    margin-left: auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 58% 60%;
}

.positive.effect div {
	background-color: rgb(70, 160, 49);
}

.negative.effect div {
	background-color: rgb(193, 45, 0);
}

.effect span {
	font-size: 3.75vw;
	font-family: lato regular;
}

.positive.effect li:first-child div {
	background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 290.6 257.8" fill="#fff"><path d="M235.3,151.9a4,4,0,0,1-3.9-3.2L219.6,93.6l-20.4,65a4.12,4.12,0,0,1-4.2,2.8,4,4,0,0,1-3.6-3.5L179.6,71.1,161.8,218.7a3.91,3.91,0,0,1-3.9,3.5h0a4.08,4.08,0,0,1-4-3.5L139.1,103.4l-14.7,67.7a3.94,3.94,0,0,1-3.8,3.1,4.08,4.08,0,0,1-4-3.1L93.8,74.3,77.4,147.9a4,4,0,0,1-3.9,3.1H38c11.1,11.8,24.7,23.9,40.9,36.6,35.2,27.5,56.3,55.2,66.3,70.2,10.1-15,31.2-42.7,66.4-70.2a380.53,380.53,0,0,0,40.1-35.7H235.3Z"/><path d="M70.3,143,89.8,55.8a4,4,0,0,1,3.9-3.1,3.89,3.89,0,0,1,3.9,3.1l22.7,96.5,16-73.1a4,4,0,0,1,4.1-3.2,4.15,4.15,0,0,1,3.8,3.5l13.7,106.4L175.5,39.2a4,4,0,0,1,3.9-3.5h0a4.08,4.08,0,0,1,4,3.5l13.6,100,19.6-62.4a4.08,4.08,0,0,1,4-2.8,4,4,0,0,1,3.7,3.2L238.6,144h20.5c21.3-24.5,31.5-47.5,31.5-70.3,0-54.3-35-73.6-65.1-73.6C197.6.1,171.1,15.4,154.8,41l-.2.2-.2.2a11.53,11.53,0,0,1-8.7,4.5H145a11.77,11.77,0,0,1-8.7-4.4l-.3-.3-.2-.3C119.5,15.3,93,0,65.1,0,35.1,0,0,19.3,0,73.6,0,96.1,10,118.8,30.8,143H70.3Z"/></svg>');
}

.positive.effect li:nth-child(2) div {
	background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.82 63.91" fill="#fff"><path d="M15.18,19.9H4.55A4.55,4.55,0,0,0,0,24.45V63.91H19.73V24.45A4.56,4.56,0,0,0,15.18,19.9Z"/><path class="cls-1" d="M10.37,17.06a4.84,4.84,0,0,0,4.33-4.88h0S15,8.67,8.55,0c1.87,4.33-1.33,6.79-2.86,9.74a.39.39,0,0,0-.08.15c-.08.15-.16.31-.24.48a4.09,4.09,0,0,0-.18.48l0,.15A4.69,4.69,0,0,0,5,12.74,4.85,4.85,0,0,0,10.37,17.06Z"/><path d="M50.65,21A29.13,29.13,0,0,1,37.5,28.5c-3.08.7-11.56,3.66-14.27,10.87-4.47,15.1,2.6,24.54,2.6,24.54-4.68-17,2.89-20.55,8.23-23.56.93-.51,1.75-1,2.52-1.46L36.5,39c-10,7.07-9.9,11.08-10,13.92,0,2,.68,2,1.58,1.49.44-.17,8.74-3.45,11.57-5.22h0a23,23,0,0,0,5.24-3.8C52.36,37.73,50.65,21,50.65,21Z"/></svg>');
}

.positive.effect li:last-child div {
	background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.9 40.52" fill="#fff"><path d="M14.49,0A3.5,3.5,0,1,0,18,3.5,3.5,3.5,0,0,0,14.49,0Zm0,8a4.5,4.5,0,0,0-3.84,2.16L7.4,13,1.52,13a1.5,1.5,0,0,0,0,3h0L8,16a1.5,1.5,0,0,0,1-.37l1.28-1.09L11,23.63V39a1.5,1.5,0,0,0,3,0s0,0,0,0V24h1V39a1.5,1.5,0,0,0,3,0s0,0,0,0V24h0l.75-9.12.66.66a1.5,1.5,0,0,0,1.06.47l6.91,0a1.5,1.5,0,1,0,.06-3h0l-6.28,0L18.3,10.13A4.46,4.46,0,0,0,14.49,8Z"/></svg>');
}

.negative.effect li:first-child div {
	background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.66 45.66" fill="#fff"><path d="M18.62,27.31V7.78a7.79,7.79,0,0,0-15.57,0V27.31A10.72,10.72,0,0,0,0,34.83a10.83,10.83,0,0,0,21.66,0A10.72,10.72,0,0,0,18.62,27.31ZM10.83,42.66A7.83,7.83,0,0,1,3,34.83a7.72,7.72,0,0,1,3.08-6.21V16.24H9.45a1,1,0,0,0,0-2H6.08V11.73H9.45a1,1,0,1,0,0-2H6.08v-2a4.76,4.76,0,1,1,9.51,0V28.65a7.66,7.66,0,0,1,3,6.18A7.82,7.82,0,0,1,10.83,42.66Z"/><path d="M13.34,30.46V18.63h-5V30.46A5,5,0,0,0,5.8,34.83a5,5,0,1,0,10.07,0A5,5,0,0,0,13.34,30.46Z"/></svg>');
}

.negative.effect li:nth-child(2) div {
	background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 182.29 141.92" fill="#fff"><path d="M174.79,63.46H158.35A47.37,47.37,0,0,0,149.87,43l11.65-11.65A7.5,7.5,0,0,0,150.9,20.78L139.26,32.43a47.36,47.36,0,0,0-20.43-8.49V7.5a7.5,7.5,0,0,0-15,0V23.34H78.46V7.5a7.5,7.5,0,0,0-15,0V23.94A47.38,47.38,0,0,0,43,32.43L31.39,20.78A7.5,7.5,0,1,0,20.78,31.39L32.43,43a47.36,47.36,0,0,0-8.49,20.43H7.5a7.5,7.5,0,0,0,0,15H23.94a47.36,47.36,0,0,0,8.49,20.43L20.79,110.53a7.5,7.5,0,1,0,10.61,10.61L43,109.5A47.37,47.37,0,0,0,63.46,118v16.44a7.5,7.5,0,1,0,15,0V118.58h25.37v15.84a7.5,7.5,0,0,0,15,0V118a47.37,47.37,0,0,0,20.43-8.49l11.65,11.64a7.5,7.5,0,1,0,10.61-10.61L149.87,98.89a47.37,47.37,0,0,0,8.49-20.43h16.44a7.5,7.5,0,0,0,0-15Zm-63.46,40.12H71a32.62,32.62,0,1,1,0-65.23h40.37a32.62,32.62,0,1,1,0,65.23Z"/><circle cx="116.99" cy="70.96" r="8.85"/><circle cx="94.3" cy="84.06" r="8.85"/><circle cx="65.3" cy="70.96" r="8.85"/><circle cx="87.99" cy="57.86" r="8.85"/></svg>');
}

.negative.effect li:last-child div {
	background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 966.05 870.9" fill="#fff"><path d="M671.68,378c40.8-43.9,85.8-97.2,119.8-144.3l15.3,15.3a30,30,0,0,0,42.4,0l12.9-12.9a30,30,0,0,0,0-42.4L677.18,8.8a30,30,0,0,0-42.4,0l-12.9,12.9a30,30,0,0,0,0,42.4l15.3,15.3c-41.5,29.9-87.9,68.5-128.3,105.1,8.8,8.4,17.3,16.7,25.5,24.8,7,7,13.9,14.1,20.6,21.2,41-37,88.4-76.2,128.8-104.5l61.1,61.1c-30.1,42.9-72.4,93.7-111.3,136.4Q653.52,350.2,671.68,378Z"/><path d="M113.08,803.7,269,647.8a970.43,970.43,0,0,0,182-86.4q-28.8-19.95-56.6-42a899.2,899.2,0,0,1-86.1,43.2,911.14,911.14,0,0,1,40.6-81.6c-15.1-13.5-29.8-27.5-44.3-41.9l-4.2-4.2a956.22,956.22,0,0,0-77.3,167L67.17,757.7l-3.1-3.1a30,30,0,0,0-42.4,0L8.77,767.5a30,30,0,0,0,0,42.4L60.88,862a30,30,0,0,0,42.4,0l12.9-12.9a30,30,0,0,0,0-42.4Z"/><path d="M944.48,754.6a29.93,29.93,0,0,0-42.4,0l-3.1,3.1L743,601.8a961.33,961.33,0,0,0-89.7-187.4c-2.1-3.4-4.3-6.9-6.5-10.3-11.8-18.5-24.4-36.7-37.6-54.6a1021,1021,0,0,0-80-95.2c-6.4-6.8-13-13.5-19.6-20.2-8.2-8.2-17.1-16.8-26.5-25.7-45.6-43.1-103.4-92.4-154.1-129l15.3-15.3a30,30,0,0,0,0-42.4L331.38,8.8a29.94,29.94,0,0,0-42.4,0L104.08,193.7a30,30,0,0,0,0,42.4L117,249a29.94,29.94,0,0,0,42.4,0l15.3-15.3c41,56.9,98.3,123,144.6,170.4,3.4,3.5,6.8,6.9,10.1,10.2q18.45,18.45,37.7,35.9c19.3,17.5,39.2,34.2,59.5,50,18.5,14.4,37.4,28,56.5,40.8,8.8,5.9,17.6,11.6,26.6,17.1a961.27,961.27,0,0,0,187.4,89.7L853,803.7l-3.1,3.1a30,30,0,0,0,0,42.4l12.9,12.9a29.94,29.94,0,0,0,42.4,0l52.1-52.1a30,30,0,0,0,0-42.4ZM543.88,502.8c-1.4-.9-2.9-1.8-4.3-2.7q-28.8-18.15-56.5-38.7a957.83,957.83,0,0,1-79.4-65.8c-9.6-8.9-19.1-18-28.4-27.3-5.9-5.9-12-12.2-18.4-18.8-44.6-46.7-99.1-110.3-135.6-162.4l61.1-61.1c49.2,34.5,108.8,85.1,154.6,128.2,9.6,9,18.5,17.7,26.6,25.8,6.6,6.6,13.1,13.3,19.5,20a959.1,959.1,0,0,1,79.4,95.5q18.9,26.1,35.7,53.1l.9,1.5a894.59,894.59,0,0,1,58.8,112.4A887.64,887.64,0,0,1,543.88,502.8Z"/></svg>');
}

main.service h2 {
	font-size: 4.37vw;
	line-height: 5.62vw;
	font-family: lato black;
    color: rgb(0, 145, 162);
    margin-top: 0;
    margin-bottom: 5.63vw;
}

.stages {
	margin-bottom: 9.375vw;
}

.stages .owl-item {
	height: 69.07vw;
	position: relative;
}

.stages img {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
}

.stages span,
.stages b,
.stages p {
	text-align: right;
	text-shadow: 0 0 2vw rgb(0, 0, 0);
}

.stages span {
	font-size: 4.37vw;
	font-family: lato black;
    color: rgb(246, 234, 153);
    margin-top: 7.82vw;
    position: relative;
}

.stages span::after {
	content: '';
	display: block;
	width: 7.5vw;
    height: 1.25vw;
    background-color: rgb(246, 234, 153);
    position: absolute;
    right: 0;
    bottom: -3.75vw;
}

.stages b {
	font-size: 4.37vw;
	font-family: lato black;
	color: rgb(255, 255, 255);
	margin-top: 14vw;
	margin-bottom: 11.57vw;
}

.stages p {
	font-size: 3.75vw;
	line-height: 5.62vw;
	font-family: lato regular;
	color: rgb(255, 255, 255);
}

.stages .owl-nav {
	position: absolute;
	right: 6.25vw;
	transform: translateY(-50%);
}

.stages .owl-nav * {
	float: left;
	width: 10.94vw;
	font-size: 9vw;
	line-height: 10.94vw;
	font-family: lato regular;
	text-align: center;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 172, 193);
}

.stages .owl-nav *.disabled {
	color: rgb(0, 172, 193);
	background-color: rgb(227, 227, 227);
}

main.service .salons .salon p:first-of-type {
	font-weight: 700;
}

.salon > a {
	font-size: 3.75vw;
    line-height: 12.5vw;
    font-family: lato regular;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 162, 72);
    display: block;
    width: 49.375vw;
    margin-top: 6vw;
    margin-right: auto;
    margin-bottom: 6vw;
    margin-left: auto;
}

.photos {
	height: 27.996875vw;
	margin-bottom: 5.63vw;
	overflow: hidden;
}

.photos .owl-item {
	width: 33.33vw;
}

.photos img {
	width: auto !important;
	height: 28vw;
}

.tour {
    position: relative;
    margin-bottom: 5.63vw;
}

.tour div {
    display: block;
    height: 33.44vw;
    background-image: url(img/thaiway1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 4.37vw;
    line-height: 29.54vw;
    font-family: lato black;
    color: rgb(255, 255, 255);
    text-shadow: 0 .625vw 3.125vw rgba(0, 0, 0, .5);
    position: relative;
}

.tour div::after {
    content: '';
    display: block;
    width: 15.63vw;
    height: 9.38vw;
    background-image: url(img/3d.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 43%;
}

.tour .close {
	width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgb(0, 0, 0);
    display: none;
}

.tour .close::after {
	float: right;
	margin-right: 10px;
}

.tour.open .close {
	display: block;
}

.tour iframe {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    border: none;
    display: none;
}

.tour.open iframe {
	display: block;
}

.any-services {
	margin-bottom: 5.63vw;
}

.any-services a {
    display: block;
    float: left;
    width: 50%;
    height: 33.44vw;
    text-align: center;
    font-size: 3.75vw;
    line-height: 33.44vw;
    font-family: lato regular;
    color: rgb(255, 255, 255);
    text-shadow: 0 .625vw 1.57vw rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 25vw 0 rgb(0, 0, 0);
    text-shadow: 0 0 2.35vw rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.any-services img {
	width: 100%;
	position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.stocks .salons > span,
.certificates .salons > span {
	margin-top: 16px;
}

.stock {
	margin-bottom: 4.69vw;
}

.stock h2,
.stock a p {
	font-size: 4.37vw;
	line-height: 5.62vw;
	font-family: lato black;
}

.stock h2 {
	margin-bottom: 3.13vw;
}

.stock > p {
	font-size: 3.75vw;
	line-height: 5.62vw;
	font-family: lato regular;
}

.stock a {
	display: block;
	height: 69.07vw;
	position: relative;
	overflow: hidden;
}

.stock img {
	height: 100%;
	position: absolute;
}

.stock a p {
	padding-top: 14.38vw;
	color: rgb(246, 234, 153);
	position: relative;
}

.stock a p::after {
	content: "";
    display: block;
    position: absolute;
    bottom: -7vw;
    width: 7.5vw;
    height: 1.25vw;
    background-color: rgb(246, 234, 153);
}

.gallery select {
	width: 100%;
    margin-top: 6.25vw;
    margin-bottom: 6.25vw;
    padding-top: 5vw;
    padding-right: 6.25vw;
    padding-bottom: 5vw;
    padding-left: 6.25vw;
    border: .3vw solid rgb(207, 207, 207);
    font-size: 4.37vw;
    line-height: 6.25vw;
    font-family: lato regular;
    background: rgb(246, 246, 246);
}

.salon .certificate img {
	width: 100%;
	margin-bottom: 7vw;
}

.salon .certificate h2 {
	font-size: 4.37vw;
	line-height: 5.62vw;
	font-family: lato black;
	color: rgb(0, 145, 162);
	text-align: center;
	margin-bottom: 6.25vw;
}

.salon .certificate p {
	font-size: 3.75vw;
	line-height: 5.62vw;
	font-family: lato regular;
	color: rgb(86, 86, 86);
}

.salon .certificate button {
	width: 50vw;
	margin-right: 5vw;
	float: left;
    font-size: 4.375vw;
    line-height: 15.625vw;
    font-family: lato regular;
    color: rgb(255, 255, 255);
    background: rgb(0, 172, 193);
    border: 0;
}

.price span::before {
    content: 'a\2004';
    font-family: rubl;
}

main.gallery a img {
	width: 100%;
}

.gallery > a {
	display: none;
}

.gallery.par > a.par,
.gallery.isspa > a.isspa,
.gallery.luxury > a.luxury,
.gallery.all > a {
	display: block;
}