@font-face {
    font-family: lato semibold;
    src: url('fnt/lato-semibold.woff') format('woff');
}

@font-face {
    font-family: lato bold;
    src: url('fnt/lato-bold.woff') format('woff');
}

@font-face {
    font-family: lato black;
    src: url('fnt/lato-black.woff') format('woff');
}

@font-face {
    font-family: lato light;
    src: url('fnt/lato-light.woff') format('woff');
}

@font-face {
    font-family: ptsans regular;
    src: url('fnt/ptsans-regular.woff') format('woff');
}

@font-face {
    font-family: ptsans bold;
    src: url('fnt/ptsans-bold.woff') format('woff');
}

@font-face {
    font-family: myriadpro regular;
    src: url('fnt/myriadpro-regular.woff') format('woff');
}

@font-face {
    font-family: lato regular;
    src: url('fnt/lato-regular.woff') format('woff');
}

@font-face {
    font-family: rubl;
    src: url('fnt/ALSRubl.woff') format('woff');
}

* {
	box-sizing: border-box;
}

body {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

body.menu,
body.modal {
	overflow-y: hidden;
}

.wrapper {
	display: block;
	width: 87.5vw;
	margin-right: auto;
	margin-left: auto;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

header {
	height: 38.125vw;
	padding-top: 6.25vw;
	background-color: rgb(0, 172, 193);
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	background-position: 50% 4.6875vw;
	background-size: 48.875vw;
}

button.menu {
	width: 12.5vw;
	height: 12.5vw;
	padding-top: 4.0625vw;
	padding-right: 3.75vw;
	padding-bottom: 4.0625vw;
	padding-left: 3.75vw;
	background-color: rgb(238, 238, 238);
	border: none;
}

button.menu span,
button.menu span::before,
button.menu span::after {
    display: block;
    width: 100%;
    height: .625vw;
    background-color: rgb(0, 0, 0);
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

button.menu span::before {
	content: '';
	transform: translateY(-1.325vw);
}

button.menu span::after {
	content: '';
	transform: translateY(.7vw);
}

button.close {
	padding-right: 0;
	padding-left: 0;
	border: 0;
	background-color: transparent;
	position: absolute;
	top: 5vw;
	right: 5vw;
}

button.close::after {
	content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 610.79" fill="#e6e6e6"><polygon points="612 35.4 576.52 0 306 270 35.48 0 0 35.4 270.52 305.41 0 575.39 35.48 610.79 306 340.81 576.52 610.79 612 575.39 341.46 305.41 612 35.4"/></svg>');
	display: block;
	width: 5vw;
    height: 5vw;
}

div.dark {
	width: 100vw;
	height: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0);
	transition-duration: .4s, 0s;
	transition-property: background-color, height;
	transition-delay: 0s, .4s;
	transition-timing-function: ease-in-out, ease;
}

.menu .dark,
.modal .dark {
	height: 100vh;
	background-color: rgba(0, 0, 0, .6);
	transition-delay: 0s;
}

div.menu {
	width: 90vw;
	height: 100vh;
	padding-top: 5vw;
	padding-right: 9.375vw;
	padding-bottom: 5vw;
	padding-left: 9.375vw;
	background-color: rgb(0, 145, 162);
	position: fixed;
	top: 0;
    left: 0;
    z-index: 2;
    overflow-y: auto;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
	transform: translateX(-100%);
}

.menu .menu {
	transform: translateX(0%);
}

.menu ul {
	margin-top: 10vw;
	margin-bottom: 7vw;
}

.menu ul:first-of-type li {
	border-top: .5vw solid rgb(50, 160, 173);
}

.menu ul:first-of-type li:last-child {
	border-bottom: .5vw solid rgb(50, 160, 173);
}

.menu li a,
.menu li button {
	font-size: 3.75vw;
	line-height: 16.5vw;
	font-family: lato regular;
	text-transform: uppercase;
	color: rgb(230, 230, 230);
}

.menu li a {
	text-decoration: none;
}

.menu li button {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
	text-align: left;
	background-color: transparent;
	border: none;
	position: relative;
}

.menu li button::after {
	content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 64.57" fill="#d4dfe1"><path d="M4,36.28H66.34L44.89,57.74a4,4,0,1,0,5.66,5.66L78.83,35.11h0a4,4,0,0,0,.5-.61c.07-.1.11-.21.17-.31a4,4,0,0,0,.19-.37,3.56,3.56,0,0,0,.13-.42c0-.11.08-.22.1-.33a4,4,0,0,0,.08-.78h0a4,4,0,0,0-.08-.77c0-.12-.07-.23-.1-.35a3.71,3.71,0,0,0-.12-.4,4.14,4.14,0,0,0-.21-.4c-.05-.1-.1-.2-.16-.29a3.94,3.94,0,0,0-.5-.61L50.54,1.17a4,4,0,1,0-5.66,5.66L66.34,28.28H4a4,4,0,0,0,0,8Z"/></svg>');
	display: block;
	width: 6vw;
	height: 14vw;
	position: absolute;
	top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.menu ul ul li button::after {
	transform: translateY(-50%) rotate(180deg);
}

.menu ul ul {
	width: 71.25vw;
	height: 118.359vw;
	background-color: rgb(0, 145, 162);
	position: absolute;
	top: 11.4vw;
	left: 9.375vw;
	overflow-y: auto;
	transform: translateX(-114%);
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
}

.menu ul ul.open {
	transform: translateX(0);
}

.menu > a:last-of-type {
	display: block;
	text-align: center;
	font-size: 3.75vw;
	line-height: 12.5vw;
	font-family: lato regular;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(246, 234, 153);
	border: 0.5vw solid rgb(246, 234, 153);
}

.menu hr {
    background-color: rgb(50, 160, 173);
    border: none;
    width: 14vw;
    height: .5vw;
    margin-right: auto;
    margin-bottom: 7vw;
    margin-left: auto;
}

header hr {
	height: .3125vw;
	margin-top: 5.9375vw;
	margin-bottom: 4.0625vw;
	background-color: rgb(14, 151, 168);
	border-top: none;
	border-bottom: .3125vw solid rgb(49, 190, 199);
}

a[href^=tel] {
	text-decoration: none;
}

header a[href^=tel] {
	color: rgb(238, 238, 238);
	font-size: 5vw;
	font-family: lato semibold;
	display: block;
}

header .wrapper > a[href^=tel] {
	text-align: center;
}

.menu a[href^=tel] {
	text-align: left;
}

.consultation span::before,
a[href^=tel]::before {
	display: inline-block;
	width: 4.6875vw;
	height: 4.6875vw;
	margin-right: 6.5625vw;
	transform: translateY(.5vw);
}

a[href^=tel]::before {
	content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="rgb(255, 255, 255)" viewBox="0 0 36 36"><path d="M34,25a22.81,22.81,0,0,1-7.14-1.14,2,2,0,0,0-2,.49l-4.4,4.41A30.17,30.17,0,0,1,7.25,15.59l4.4-4.41a2,2,0,0,0,.49-2A22.88,22.88,0,0,1,11,2,2,2,0,0,0,9,0H2A2,2,0,0,0,0,2,34,34,0,0,0,34,36a2,2,0,0,0,2-2V27A2,2,0,0,0,34,25Z"/></svg>');
}

.consultation span::before {
	content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88 88" fill="#fff"><path d="M44,0A44,44,0,1,0,88,44,44,44,0,0,0,44,0Zm0,80A36,36,0,1,1,80,44,36,36,0,0,1,44,80Z"/><path d="M48,42.34V20a4,4,0,0,0-8,0V44a3.91,3.91,0,0,0,.08.76c0,.12.07.23.1.35a4,4,0,0,0,.12.4,4.11,4.11,0,0,0,.21.39c.05.1.1.2.16.29a3.9,3.9,0,0,0,.5.61L52.49,58.15a4,4,0,0,0,5.66-5.66Z"/></svg>');
}

img {
	float: left;
}

main > img {
	width: 100%;
	margin-bottom: 2vw;
}

h1 {
	font-size: 5vw;
	line-height: 5vw;
	font-family: lato bold;
	color: rgb(0, 145, 162);
	margin-top: 0;
	margin-bottom: 4vw;
	text-align: center;
}

h1 span {
	display: block;
	font-size: 3.75vw;
	line-height: 9.375vw;
	font-family: myriadpro regular;
	color: rgba(0, 0, 0, .5);
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

main > p {
	font-size: 4.375vw;
	line-height: 6.25vw;
	font-family: ptsans regular;
	color: rgba(0, 0, 0, .6);
}

ul {
	padding-left: 0;
	list-style: none;
}

ul.tabs {
	margin-top: 6.25vw;
	margin-bottom: 0;
}

.description.tabs {
	background-color: rgb(0, 145, 162);
}

.tabs li {
	float: left;
	text-align: center;
	font-size: 3.4375vw;
	line-height: 3.75vw;
	font-family: lato regular;
}

.description li {
	width: 25%;
	color: rgb(238, 238, 238);
}

.description li label::before {
	content: '';
	display: block;
	width: 8.4375vw;
	height: 8.4375vw;
	margin-right: auto;
	margin-bottom: 2.5vw;
	margin-left: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.description li:first-child label::before {
	background-image: url(img/place.png);
}

.description li:nth-child(2) label::before {
	background-image: url(img/staff.png);
}

.description li:nth-child(3) label::before {
	background-image: url(img/atmosphere.png);
}

.description li:last-child label::before {
	background-image: url(img/family.png);
}

.tabs label {
	display: block;
}

.description label {
	padding-top: 5vw;
	padding-bottom: 6.25vw;
	opacity: .8;
}

div.description {
	padding-top: 7.1875vw;
	padding-right: 9.375vw;
	padding-bottom: 7.1875vw;
	padding-left: 9.375vw;
	outline: 0.125vw dashed rgb(199, 199, 199);
	outline-offset: -1.875vw;
	display: none;
}

#place:checked ~ .place,
#staff:checked ~ .staff,
#atmosphere:checked ~ .atmosphere,
#family:checked ~ .family {
	display: block;
}

#place:checked ~ ul label[for=place],
#staff:checked ~ ul label[for=staff],
#atmosphere:checked ~ ul label[for=atmosphere],
#family:checked ~ ul label[for=family] {
	opacity: 1;
}

.description .count {
	float: left;
	width: 9.375vw;
	background-color: rgb(86, 86, 86);
	position: relative;
	font-size: 3.75vw;
	line-height: 9.375vw;
	font-family: lato light;
	color: rgb(254, 254, 254);
	text-align: center;
}

.description .count::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 2.8vw 2.8vw;
	border-color: transparent transparent rgb(0, 172, 193) transparent;
	position: absolute;
	right: 0;
	bottom: 0;
}

.description p {
	margin-left: 15.625vw;
	font-size: 3.75vw;
	line-height: 5.625vw;
	font-family: lato regular;
}

.service {
	display: block;
	height: 56.25vw;
	text-decoration: none;
	position: relative;
	overflow: hidden;
}

.service img {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.service::after {
	content: '';
	display: block;
	width: 100%;
	height: 28.125vw;
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.service p {
	font-size: 4.375vw;
	line-height: 9.375vw;
	font-family: lato black;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	position: absolute;
	bottom: 1vw;
	left: 6.25vw;
	z-index: 1;
}

h2 {
	font-size: 5vw;
	line-height: 6.25vw;
	font-family: ptsans bold;
	margin-top: 6.25vw;
	margin-bottom: 6.25vw;
}

h2 + span {
	font-size: 5vw;
	line-height: 6.25vw;
	font-family: lato regular;
}

.salon li {
	width: 33.33%;
}

.salon label {
	font-size: 4.375vw;
	line-height: 13.44vw;
	font-family: ptsans regular;
	color: rgb(118, 118, 118);
	background-color: rgb(247, 247, 247);
	border-bottom: .3125vw solid rgb(175, 175, 175);
}

#par:checked ~ ul label[for=par],
#isspa:checked ~ ul label[for=isspa],
#luxury:checked ~ ul label[for=luxury] {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 145, 162);
	border-top: .3125vw solid rgb(175, 175, 175);
	border-bottom: .3125vw solid rgb(255, 255, 255);
}

#par:checked ~ ul label[for=par] {
	border-right: .3125vw solid rgb(175, 175, 175);
}

#isspa:checked ~ ul label[for=isspa] {
	border-right: .3125vw solid rgb(175, 175, 175);
	border-left: .3125vw solid rgb(175, 175, 175);
}

#luxury:checked ~ ul label[for=luxury] {
	border-left: .3125vw solid rgb(175, 175, 175);
}

div.salon {
	display: none;
}

#par:checked ~ .par,
#isspa:checked ~ .isspa,
#luxury:checked ~ .luxury {
	display: block;
}

.salon p {
	font-size: 4.375vw;
	line-height: 6.25vw;
	font-family: ptsans regular;
	margin-top: 6.25vw;
	margin-bottom: 6.25vw;
}

.consultation {
	padding-top: 6.5vw;
	padding-bottom: 6.5vw;
	background-color: rgb(0, 162, 72);
	position: relative;
}

.consultation * {
	color: rgb(255, 255, 255);
}

.consultation::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border-style: solid;
	border-width: 3vw 3vw 0 3vw;
	border-color: rgb(255, 255, 255) transparent transparent transparent;
}

.consultation h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 4.375vw;
	line-height: 9.375vw;
	font-family: lato black;
	text-transform: uppercase;
}

.consultation a {
	font-size: 4.375vw;
	line-height: 9.375vw;
	font-family: lato black;
}

.consultation span {
	font-size: 4.375vw;
	line-height: 9.375vw;
	font-family: lato regular;
}

.consultation button {
	font-size: 3.75vw;
	line-height: 16.25vw;
	font-family: lato regular;
	text-transform: uppercase;
	color: rgb(0, 162, 72);
 	background-color: rgb(255, 255, 255);
 	display: block;
    width: 63.75vw;
    border: 0;
 	margin-top: 6.25vw;
 	margin-right: auto;
 	margin-bottom: 6.25vw;
 	margin-left: auto;
 }

ul.social {
 	width: 46.875vw;
 	margin-top: 0;
 	margin-right: auto;
 	margin-bottom: 0;
 	margin-left: auto;
 }


ul.social li {
  	float: left;
  	width: 33.33%;
  }

ul.social a {
	display: block;
	width: 12.5vw;
	height: 12.5vw;
}

a.fb {
	background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 217.83 217.83" fill="#fff"><path d="M108.92.5A108.42,108.42,0,1,0,217.34,108.92,108.42,108.42,0,0,0,108.92.5Zm26,78.73a2,2,0,0,1-2,2h-8.39c-5.79,0-6.85,2.26-6.85,6.7v9.2h14.66a2,2,0,0,1,2,2V114.9a2,2,0,0,1-2,2H117.72v39.87a2,2,0,0,1-2,2H99.41a2,2,0,0,1-2-2V117H84.92a2,2,0,0,1-2-2V99.17a2,2,0,0,1,2-2h12.5V86.27c0-14.38,9-23.66,23-23.66h12.45a2,2,0,0,1,2,2Z"/></svg>');
}

a.in {
	background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 217.83 217.83"><path fill="#fff" d="M89.23,109.53c0-10.51,8.76-19,19.56-19s19.56,8.49,19.56,19-8.76,19-19.56,19S89.23,120,89.23,109.53Z"/><path fill="#fff" d="M146.39,76.21V86.7A4.38,4.38,0,0,1,142,91.09h-11a4.4,4.4,0,0,1-4.38-4.39V76.21a4.4,4.4,0,0,1,4.38-4.39h11A4.4,4.4,0,0,1,146.39,76.21Z"/><path fill="#fff" d="M137.82,102.19h8.57v41.14a3.87,3.87,0,0,1-3.87,3.87H74.7a3.88,3.88,0,0,1-3.88-3.87V102.19h9a28.49,28.49,0,0,0-1.25,8.35c0,16.2,13.55,29.33,30.27,29.33s30.28-13.13,30.28-29.33A28.49,28.49,0,0,0,137.82,102.19Z"/><path fill="#fff" d="M108.92.5A108.42,108.42,0,1,0,217.34,108.92,108.42,108.42,0,0,0,108.92.5Zm48.47,73v72.39a12.19,12.19,0,0,1-11.89,12.5c-.2,0-.4,0-.61,0H72.5A12.2,12.2,0,0,1,60,146.5v-73A12.21,12.21,0,0,1,71.9,61h73a12.2,12.2,0,0,1,12.5,11.9A6,6,0,0,1,157.39,73.5Z"/></svg>');
}

a.vk {
	background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 217.83 217.83" fill="#fff"><path d="M108.92.5A108.42,108.42,0,1,0,217.34,108.92,108.42,108.42,0,0,0,108.92.5Zm43.87,118.31,0,0c4.29,4.19,8.81,8.12,12.65,12.74a36.66,36.66,0,0,1,4.54,6.53c1.74,3.4.16,7.1-2.87,7.3H148.32c-4.86.4-8.73-1.55-12-4.87-2.61-2.66-5-5.48-7.53-8.23a18.06,18.06,0,0,0-3.4-3c-2.56-1.66-4.8-1.16-6.27,1.53a20.15,20.15,0,0,0-2,8.78c-.2,4.43-1.54,5.6-6,5.8-9.51.45-18.55-1-26.94-5.79-7.39-4.25-13.13-10.19-18.12-17C56.41,109.46,49,95,42.28,80.12c-1.51-3.35-.41-5.15,3.29-5.22q9.21-.18,18.43,0c2.49,0,4.15,1.47,5.09,3.82A114.16,114.16,0,0,0,81.6,101.86,20.09,20.09,0,0,0,86.31,107c2.19,1.5,3.85,1,4.88-1.43a16.17,16.17,0,0,0,1.08-4.85,72.33,72.33,0,0,0-.3-17c-.52-3.53-2.51-5.82-6-6.49-1.8-.34-1.54-1-.66-2,1.51-1.77,2.93-2.88,5.77-2.88h21.27c3.35.66,4.09,2.17,4.55,5.52V101.5c0,1.3.65,5.17,3,6,1.88.62,3.12-.89,4.25-2.08,5.09-5.4,8.72-11.79,12-18.41,1.45-2.91,2.68-5.94,3.88-9a4.55,4.55,0,0,1,4.81-3.29h20.48a9.84,9.84,0,0,1,1.8.11c3.46.59,4.4,2.07,3.33,5.44-1.7,5.28-4.94,9.69-8.14,14.11-3.39,4.73-7.06,9.29-10.45,14C148.68,112.85,148.93,115,152.79,118.81Z"/></svg>');
}

#map {
	width: 100%;
	height: 67.1875vw;
}

div.modal {
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgb(255, 255, 255);
	padding-top: 20vw;
	padding-bottom: 10vw;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
	transform: translateY(-100%);
}

.modal div.modal {
	transform: translateY(0);
}

div.modal input[type=text],
div.modal input[type=tel] {
	-webkit-appearance: none;
	width: 100%;
    margin-top: 2vw;
    margin-bottom: 3vw;
    padding-right: 4vw;
    padding-left: 4vw;
    border: .3vw solid rgb(207, 207, 207);
    font-size: 4.37vw;
    line-height: 10vw;
    font-family: lato regular;
    background-color: rgb(246, 246, 246);
}

div.modal p {
	font-size: 3.75vw;
	line-height: 6.25vw;
	font-family: lato regular;
	color: rgb(86, 86, 86);
    text-align: center;
}

div.modal input[type=submit] {
	-webkit-appearance: none;
	display: block;
	width: 60vw;
	margin-top: 7vw;
	margin-right: auto;
	margin-bottom: 2vw;
	margin-left: auto;
	background-color: rgb(71, 162, 50);
	border: 0.3vw solid rgb(207, 207, 207);
	font-size: 4.37vw;
	line-height: 10vw;
    color: rgb(255, 255, 255);
    border: none;
}

div.modal a {
	display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: rgb(174, 174, 174);
    font-size: 3.75vw;
    line-height: 6.25vw;
    font-family: lato regular;
}

footer {
	background-color: rgb(0, 145, 162);
	padding-top: 4vw;
	padding-bottom: 4vw;
}

footer a {
	font-size: 4.375vw;
	font-family: lato regular;
	color: rgb(255, 255, 255);
}